<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="prjbase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MySQLEntities" connectionString="metadata=res://*/dbInteg.csdl|res://*/dbInteg.ssdl|res://*/dbInteg.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;Password=pass4admin;database=dbintegracao&quot;" providerName="System.Data.EntityClient" />
    <add name="prjbase.Properties.Settings.dbintegracaoConnectionString" connectionString="server=localhost;user id=root;password=pass4admin;persistsecurityinfo=True;database=dbintegracao" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6">
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CategoriasCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="ParcelasSoap" maxReceivedMessageSize="1000000" />
        <binding name="UnidadesCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="PedidoVendaProdutoSoap" maxReceivedMessageSize="1000000" />
        <binding name="FormasPagVendasSoap" maxReceivedMessageSize="1000000" />
        <binding name="ClientesCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="ProdutosCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="CidadesCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="ProdutosImpostosSoap" maxReceivedMessageSize="1000000" />
        <binding name="ContaCorrenteCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="VendedoresCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="FamiliasCadastroSoap" maxReceivedMessageSize="1000000" />
        <binding name="EmpresasCadastroSoap" maxReceivedMessageSize="1000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://app.omie.com.br/api/v1/geral/categorias/" binding="basicHttpBinding" bindingConfiguration="CategoriasCadastroSoap" contract="CategoriaCadastroReference.CategoriasCadastroSoap" name="CategoriasCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/parcelas/" binding="basicHttpBinding" bindingConfiguration="ParcelasSoap" contract="ParcelasReference.ParcelasSoap" name="ParcelasSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/unidade/" binding="basicHttpBinding" bindingConfiguration="UnidadesCadastroSoap" contract="UnidadesCadastroReference.UnidadesCadastroSoap" name="UnidadesCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/produtos/pedido/" binding="basicHttpBinding" bindingConfiguration="PedidoVendaProdutoSoap" contract="PedidoVendaProdutoReference.PedidoVendaProdutoSoap" name="PedidoVendaProdutoSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/produtos/formaspagvendas/" binding="basicHttpBinding" bindingConfiguration="FormasPagVendasSoap" contract="FormaPagVendasReference.FormasPagVendasSoap" name="FormasPagVendasSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/clientes/" binding="basicHttpBinding" bindingConfiguration="ClientesCadastroSoap" contract="ClientesCadastroReference.ClientesCadastroSoap" name="ClientesCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/produtos/" binding="basicHttpBinding" bindingConfiguration="ProdutosCadastroSoap" contract="ProdutosCadastroReference.ProdutosCadastroSoap" name="ProdutosCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/cidades/" binding="basicHttpBinding" bindingConfiguration="CidadesCadastroSoap" contract="CidadesCadastroReference.CidadesCadastroSoap" name="CidadesCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/prodimp/" binding="basicHttpBinding" bindingConfiguration="ProdutosImpostosSoap" contract="ProdutosImpostosReference.ProdutosImpostosSoap" name="ProdutosImpostosSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/contacorrente/" binding="basicHttpBinding" bindingConfiguration="ContaCorrenteCadastroSoap" contract="ContaCorrenteCadastroReference.ContaCorrenteCadastroSoap" name="ContaCorrenteCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/vendedores/" binding="basicHttpBinding" bindingConfiguration="VendedoresCadastroSoap" contract="VendedoresCadastroReference.VendedoresCadastroSoap" name="VendedoresCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/familias/" binding="basicHttpBinding" bindingConfiguration="FamiliasCadastroSoap" contract="FamiliasProdutoReference.FamiliasCadastroSoap" name="FamiliasCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/empresas/" binding="basicHttpBinding" bindingConfiguration="EmpresasCadastroSoap" contract="EmpresaCadastroReference.EmpresasCadastroSoap" name="EmpresasCadastroSoap" />
    </client>
  </system.serviceModel>
  <userSettings>
    <prjbase.Properties.Settings>
      <setting name="nr_reg_pag" serializeAs="String">
        <value>1</value>
      </setting>
    </prjbase.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="NomeApp" value="Optima" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.8.0" newVersion="6.8.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>